main.build
main.onefile-build
main.dist

# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
export
export2
export3
**/tm1servers.yaml
.tm1gitpy

# Virtual environment
.env/
venv/
.venv/

# IDE settings
.idea/

# Agentic
.claude
.agents
.codex
.cursor

# Other data and test files
developer_files/
example/main.py

# Build artifacts
*.egg-info/
build/

# Log files
*.log
*.mdmp
logs

/schema/

# Tests
tests/*.png
tests/config.ini
.env
dist/

**/License.xml
.internal

test_integration/test_create_and_delete.json
tests/test_create_and_delete.json
tests/model_test_export/test_model_base/.dimensions
tests/model_test_export/test_model_diff/.dimensions
changeset.yml