main.build
main.onefile-build
main.dist

# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
export
**/tm1servers.yaml

# Virtual environment
.env/
venv/
.venv/

# IDE settings
.idea/

# Other data and test files
developer_test_files/
example/main.py

# Build artifacts
*.egg-info/
build/

# Log files
*.log
*.mdmp
logs

/schema/

# Tests
tests/*.png
tests/config.ini
.env
dist/